<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>myTodo</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>TodoList</h1>
    <div class="listContainer">
      <div class="container">
        <input type="checkbox" />
        <p>buy food</p>
      </div>
      <div class="container">
        <input type="checkbox" />
        <p>cook food</p>
      </div>
      <div class="container">
        <input type="checkbox" />
        <p>eat food</p>
      </div>
      <div class="container">
        <input type="text" name="" id="" />
        <input type="submit" value="submit" />
      </div>
    </div>
  </body>
</html>
