input[type='checkbox'] {
  margin: 18px 5px;
}

.container {
  display: inline-flex;
}

#lists {
  display: grid;
}

h1 {
  text-align: center;
}

body {
  background-color: #eee;
}

#button {
  width: 20px;
  height: 20px;
  background-color: wheat;
  border: 1px solid black;
  margin:10px;
}

#listContainer {
  margin: 50px auto;
  display: grid;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 250px;
  padding: 15px;
  background-color: white;
}
